.container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 320px;
   background-color: #fbfbfb;
}

.title {
   position: absolute;
   top: 25px;
   left: 30px;
   font-weight: 500;
   color: #20253a;
}

.legend {
   position: absolute;
   top: 25px;
   right: 30px;
   display: flex;
   gap: 30px;
}

.legendItem {
   display: flex;
   align-items: center;
   gap: 10px;
}

.legendName {
   color: #74798c;
   font-size: 0.875em;
   font-weight: 500;
}

.circle {
   width: 8px;
   height: 8px;
   border-radius: 50%;
}

.weight {
   background: #282d30;
}

.calorie {
   background: var(--primary);
}

.cutomTooltip {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   gap: 1px;
   width: 39px;
   height: 63px;
   background: var(--primary);
}

.cutomTooltipLabel {
   font-size: 0.4375em;
   font-weight: 500;
   color: var(--tertiary);
}
