.container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   background-color: #fafafa;
   box-shadow: 0px 2px 4px 0px #00000005;
   border-radius: 5px;
   height: 263px;
}

.title {
   position: absolute;
   top: 25px;
   left: 30px;
   font-size: 0.9375;
   font-weight: 500;
}

.info {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: var(--tertiary);
   border-radius: 50%;
   width: 150px;
   height: 150px;
}

.infoResult {
   font-size: 1.625em;
   font-weight: 700;
   color: #282d30;
}

.infoText {
   text-align: center;
   width: 50%;
   font-weight: 500;
   color: #74798c;
}
