header {
   padding: 0 90px 0 30px;
   height: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--secondary);
   color: var(--tertiary);
}

header .logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

header .logo span {
   color: var(--primary);
   font-size: 1.5em;
}

header .link {
   font-size: 1.5em;
   font-weight: 500;
   color: var(--tertiary);
}
