@font-face {
   font-family: Roboto;
   src: url('./assets/style/roboto/Roboto-Regular.ttf');
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: Roboto;
   src: url('./assets/style/roboto/Roboto-Medium.ttf');
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: Roboto;
   src: url('./assets/style/roboto/Roboto-Bold.ttf');
   font-style: normal;
   font-weight: 700;
}

:root {
   --primary: #ff0000;
   --secondary: #000000;
   --tertiary: #ffffff;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}

main {
   width: 100%;
   padding: 150px 60px 60px 197px;
}
