nav {
   padding: 60px 0 60px 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   width: 117px;
   height: 100%;
   background-color: black;
}

nav .menu {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
}

nav .copiryght {
   font-size: 0.75em;
   font-weight: 500;
   writing-mode: vertical-rl;
   transform: rotate(180deg);
   color: rgb(255, 255, 255);
}
