nav {
   padding: 60px 0 60px 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   width: 117px;
   height: 100%;
   position: fixed;
   background-color: var(--secondary);
   z-index: 50;
}

nav .menu {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   width: 100%;
}

nav .copiryght {
   position: absolute;
   bottom: 60px;
   font-size: 0.75em;
   font-weight: 500;
   writing-mode: vertical-rl;
   transform: rotate(180deg);
   color: var(--tertiary);
}
